/*menu vertical*/
body{
background-color:#448AFF;
}

#titulomenu{
    width:300px;
    margin:0px auto;
    text-align:center;
    color:yellow;
}

.menu-vertical{
    width: 200px;
    margin: 3% auto;
    text-align:center;
}

.menu-vertical a{
    background-color: #eee;
    color: black;
    display: block; 
    padding: 15px;
    text-decoration: none;
}

.menu-vertical a:hover{
     background-color:red;
     color:yellow;
}

.menu-vertical a.activo {
    background-color:black;
    color:white;
}

/*tablas*/

.tabla-pokedex{
    width: 40%;
    margin:0px auto;
    text-align:center;    
    align-content:center;
}

.tabla-pokedex th,td{
    border-bottom: 1px solid #ddd;

}

img{
    width:100%;
    border:solid;
    border-color:#BF360C;
    background-color:white;
    
}
#imgcard, #img1 {
    width:100%;
    height:100%;
}
#titulocard{
    font-size:medium;
    font-weight:bold;
    text-align:center;
   
}
td{
    background-color:#BF360C;
    font-size:15px;
    color:white;
    padding-bottom:5px;
}

th{
    background-color:#FDD835;
    font-size:30px;
    color:#448AFF;
}

/*a{
    color:white;
}*/

header{
    width: 100%;
    position:fixed;
    z-index:2;
}

@media only screen and (min-width: 981px) and (max-width: 1500px) {
 #menu2  {
     display: none !important;
  }

  #menu1 {
     display:block;
 }

  #TPokemones{
      display:none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 980px) {
 #menu1  {
     display: none !important;
  }

  #menu2 {
     display:block;
 }

  #divTablaPokemones{
      display:none;
  }

}


